.tituloPaginas{
    font-family: "montserrat", sans-serif;
    font-size: 42px;
    text-align: center;
    margin-top: 80px;
    font-weight: 600;
    color: #C75F00;
    text-align: left;
  }

  .tituloPaginas {
    text-align: center;
    margin-top: 80px;
  }

  .subtituloCertificaciones{
    text-align: center;
    font-family: "montserrat", sans-serif;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 300;
  }
  
  .contenedorCertificaciones{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    height: 120px;
  }

  .contenedorCertificaciones img{
    margin-top: 10px;
  }
  
  .posicionContenedorCertificaciones{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }