/* MOBILE */
.iconoHome {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.celularImagen{
  padding: 50px;
}

.tituloHome {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
}

.tituloHome h2 {
  margin-top: 10px;
  color: var(--color-span);
  font-weight: 600;
  text-align: center;
}

.contenedorPortada {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  margin-top: 20px;
}

.contenedorFlecha {
  margin-top: 20px;
  text-align: center;
}

.nombreProductoDetalle {
  font-family: "montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
  color: #C75F00;
}

.tituloPaginas {
  font-family: "montserrat", sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
  color: #C75F00;
}

.subtitulos, .subtitulosHome {
  font-family: "montserrat", sans-serif;
  color: #C75F00;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}

.contenedorNuestraApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.contenedorTextoNuestraApp {
  font-family: "montserrat", sans-serif;
  margin: 20px;
  text-align: center;
}

.contenedorTextoNuestraApp h2 {
  font-family: "montserrat", sans-serif;
  color: #C75F00;
  font-size: 24px;
  text-align: center;
  padding-bottom: 10px;
}

.contenedorTextoNuestraApp p {
  text-align: center;
  color: var(--text-color);
}

.contenedorTextoNuestraApp span{
  color: var(--color-span);
  margin-left: 5px;
  font-weight: 600;
}

#segundoParrafoNuestraApp {
  margin-top: 15px;
}

.circulo {
  width: 200px;
  height: 200px;
  background-color: #f9bf79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
}

.contenedorServicios {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contenedorServicios h2 {
  font-family: "montserrat", sans-serif;
  color: #C75F00;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.posicionServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.cajaServicios {
  background-color: #121212;
  border-radius: 20px;
  width: 90%;
  max-width: 300px;
  height: 200px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.cajaServicios::before {
  content: '';
  position: absolute;
  top: var(--mouse-y);
  left: var(--mouse-x);
  width: 0;
  height: 0;
  background-color: #C75F00;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: width 1.5s ease-out, height 1.5s ease-out, opacity 1.5s ease-out;
  pointer-events: none;
}

.cajaServicios:hover::before {
  width: 300%;
  height: 300%;
  opacity: 1;
}

.cajaServicios > * {
  position: relative;
  z-index: 1;
}

.cajaServicios a img{
  width: 300px;
}

.nombreServicios {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}

.iconoServicios {
  width: 100px;
  height: 80px;
  margin-top: 15px;
}

.posicionPreguntasFrecuentes {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.contenedorPreguntaRespuesta {
  width: 100%;
  background-color: #121212;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.toggleButton {
  font-size: 16px;
  float: right;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

#titulosPreguntas {
  font-family: "montserrat", sans-serif;
  font-size: 10px;
  padding: 15px;
  color: white;
}

#respuestasPreguntas {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  color: black;
  background-color: #f9f9f9;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contenedorCarrousel {
  width: 100%;
  height: 250px;
  margin: auto;
  margin-top: 20px;
}

.carrouselSlide{
  border-radius:10px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: #eee;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background: #000;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 30px;
}

.parallaxBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.swiper-slide .title {
  font-size: 24px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 16px;
}

.swiper-slide .text {
  font-size: 12px;
  max-width: 100%;
  line-height: 1.3;
}

.tituloObras {
  text-align: center;
  font-family: "montserrat", sans-serif;
  margin-top: 20px;
  color: black;
  font-weight: bolder;
  font-size: 24px;
  background-color: #f9bf79;
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.categoriaObras h4 {
  font-family: "montserrat", sans-serif;
  margin-top: 20px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  background-color: black;
  width: 100%;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

.carrousel {
  padding: 20px;
  border-radius: 10px;
  height: 250px;
}

/* TABLETS*/
@media (min-width: 768px) {
  .iconoHome {
    max-width: 250px;
  }
  
  .celularImagen{
    padding: 0px;
    width: 600px;
    height: 700px;
  }

  .contenedorTextoNuestraApp p{
    text-align: left;
  }

  .tituloHome {
    font-size: 16px;
  }

  .tituloHome h2 {
    text-align: center;
    font-weight: 600;
  }

  .titleImageContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .imageContainer {
    margin-top: 0;
    margin-left: 20px;
  }

  .nombreProductoDetalle {
    font-size: 28px;
  }

  .tituloPaginas {
    font-size: 36px;
  }

  .subtitulos, .subtitulosHome {
    font-size: 28px;
  }

  .contenedorNuestraApp {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
  }

  .contenedorTextoNuestraApp {
    width: 50%;
    text-align: left;
  }

  .contenedorTextoNuestraApp h2 {
    text-align: left;
    font-size: 28px;
  }

  .circulo {
    width: 200px;
    height: 200px;
  }

  .contenedorServicios h2 {
    font-size: 32px;
  }

  .posicionServicios {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cajaServicios {
    width: 50%;
    margin: 10px;
  }

  #titulosPreguntas {
    font-size: 14px;
  }

  #respuestasPreguntas {
    font-size: 16px;
  }

  .contenedorCarrousel {
    height: 280px;
  }

  .swiper-slide {
    padding: 30px 40px;
  }

  .swiper-slide .title {
    font-size: 32px;
  }

  .swiper-slide .subtitle {
    font-size: 18px;
  }

  .swiper-slide .text {
    font-size: 14px;
  }

  .tituloObras {
    font-size: 28px;
  }

  .categoriaObras h4 {
    font-size: 20px;
  }

  .carrousel {
    padding: 30px;
    height: 280px;
  }
}

/* PC */
@media (min-width: 1024px) {
  .contenedorPortada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
  }

  .contenedorPortada .imageContainer{
    margin-right: 200px;
  }

  .titleImageContainer {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .titleContainer {
    flex: 1;
  }

  .imageContainer {
    margin-top: 20px;
    flex: 0 0 auto;
    margin-left: 40px;
  }

  .imageContainer img{
    width: 500px;
    height: 300px;
  }

  .contenedorFlecha {
    align-self: flex-end;
    margin-top: 40px;
    margin-left: 40px;
  }

  .iconoHome{
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: left;
    margin-left: 0;
    margin-right: 0;
  }

  .tituloHome{
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 20px;
    text-align: left;
  }

  .tituloHome h2{
    margin-top: -60px;
    color: var(--color-span);
    font-weight: 600;
    text-align: left;
    margin-left: 8px;
  }

  .nombreProductoDetalle{
    font-family: "montserrat", sans-serif;
    font-size: 32px;
    text-align: left;
    margin-top: 80px;
    font-weight: 600;
    color: #C75F00;
  }

  .tituloPaginas{
    font-family: "montserrat", sans-serif;
    font-size: 42px;
    text-align: center;
    margin-top: 80px;
    font-weight: 600;
    color: #C75F00;
    text-align: left;
  }

  .subtitulos{
    font-family: "montserrat", sans-serif;
    color: #C75F00;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
  }

  .subtitulosHome{
    font-family: "montserrat", sans-serif;
    color: #C75F00;
    font-size: 32px;
    text-align: center;
  }

  .contenedorNuestraApp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 60px;
  }

  .contenedorTextoNuestraApp {
    font-family: "montserrat", sans-serif;
    margin: 140px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }

  .contenedorTextoNuestraApp h2{
    font-family: "montserrat", sans-serif;
    color: #C75F00;
    font-size: 32px;
    text-align: left;
    padding-bottom: 20px;
  }

  .contenedorTextoNuestraApp p{
    text-align: left;
  }

  #segundoParrafoNuestraApp{
    margin-top: 15px;
  }

  .circulo {
    width: 200px;
    height: 200px;
    background-color: #f9bf79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    padding: 100px;
    margin-left: 300px;
  }

  .contenedorServicios{
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .posicionServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }

  .cajaServicios {
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    margin: 0;
    background-color: #121212;
    border-radius: 20px;
    height: 240px;
    position: relative;
    overflow: hidden;
  }

  .cajaServicios::before {
    content: '';
    position: absolute;
    top: var(--mouse-y);
    left: var(--mouse-x);
    width: 0;
    height: 0;
    background-color: #C75F00;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: width 1.5s ease-out, height 1.5s ease-out;
  }

  .cajaServicios:hover::before {
    width: 300%;
    height: 300%;
    opacity: 1;
  }

  .cajaServicios > * {
    position: relative;
    z-index: 1;
  }

  .cardServicios{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: #121212;
    margin: 20px;
    border-radius: 20px;
  }

  .cardServicios:hover{
    background-color: #C75F00;
    cursor: pointer;
  }

  .cardServicios:hover .botonCardServicio{
    background-color: #121212;
    color: white;
  }

  .nombreServicios{
    font-family: "montserrat", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
    padding: 5px;
    margin: 20px;
    text-align: center;
  }

  .iconoServicios{
    width: 140px;
    height: 100px;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
  }

  .posicionPreguntasFrecuentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 80px;
  }

  .contenedorPreguntaRespuesta {
    width: 100%;
    height: 60px;
    background-color: #121212;
    margin-top: 20px;
    border-radius: 10px;
  }

  .toggleButton {
    font-size: 24px;
    float: right;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: 30px;
    border-radius: 50px;
  }

  .toggleButton:hover {
    color: gray;
  }

  #pregunta {
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
    color: white;
    font-family: "montserrat", sans-serif;
  }

  .respuesta {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
  }

  .respuestaVisible {
    display: block;
  }

  #titulosPreguntas{
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    padding-left: 6px;
    padding-top: 10px;
  }

  #respuestasPreguntas{
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    color: black;
    text-align: left;
  }

  .contenedorCarrousel{
    width: 1000px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    border-radius: 6px;
  }

  .swiper-slide {
    padding: 40px 60px;
  }

  .swiper-slide .title {
    font-size: 41px;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
  }

  .tituloObras {
    font-size: 32px;
    width: 360px;
  }

  .categoriaObras h4 {
    font-size: 22px;
    width: 200px;
  }

  .carrousel {
    padding: 40px;
    height: 330px;
  }

  .contenedorFlecha {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .contenedorDetalleProducto{
    display: flex;
    justify-content: center;
  }

  .contenedorContenidoServicio select{
    padding: 10px;
  }

  .contenidoProducto{
    margin-left: 60px;
    font-family: "montserrat", sans-serif;
  }

  .contenidoProducto a{
    background-color: #C75F00;
    padding: 4px;
    border-radius: 4px;
    font-weight: lighter;
  }

  .contenidoProducto a:hover{
    background-color: #f57600;
  }

  .contenedorDescripcionProducto{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
  }

  .contenedorDescripcionProducto h4{
    font-family: "montserrat", sans-serif;
  }

  .contenedorDescripcionProducto p{
    color: white;
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    margin-top: 10px;
  }

  .contenedorCarrito {
    margin: auto;
    background-color: #121212;
    width: 60%;
    height: 600px;
    margin-top: 80px;
    border-radius: 10px;
    overflow-y: auto;
  }

  .contenedorCarritoVacio {
    height: 180px;
    justify-content: center;
    align-items: center;
  }

  .contenedorCarrito p {
    font-family: "montserrat", sans-serif;
  }

  .contenedorCarrito h3 {
    font-family: "montserrat", sans-serif;
    font-size: 21px;
    padding-top: 30px;
    text-align: center;
    margin-top: 10px;
  }

  .mensajeCarritoVacio {
    font-family: "montserrat", sans-serif;
    text-align: center;
    margin-top: 40px;
  }

  .tarjetaProductoCarrito {
    display: flex;
    background-color: #1f1f1f;
    width: 560px;
    height: 140px;
    border-radius: 4px;
    margin: 30px;
    margin-left: 30px;
  }

  .tarjetaProductoCarrito .botonSumar {
    margin-left: 100px;
  }

  .tarjetaProductoCarrito img {
    width: 80px;
    height: 80px;
  }

  .tarjetaProductoCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 60px;
  }

  .tarjetaProductoCarrito .imagenProductoDetalleCarrito {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tarjetaProductoCarrito .detalleProductoCarrito {
    flex-grow: 1;
  }

  .nombreProductoCarrito {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .contenedorDatosPagos {
    background-color: #121212;
    height: 300px;
    width: 300px;
    margin-top: 80px;
    border-radius: 10px;
    margin-right: 80px;
  }

  .form{
    display: flex;
    flex-direction: column;
    width: 3000px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 140px;
    margin-top: 40px;
  }

  .formLabel{
    font-family: "montserrat", sans-serif;
    margin-left: 15px;
    margin-bottom: 2px;
  }

  #primerInput{
    margin-bottom: 15px;
  }

  .contenedorPanelAdmin{
    margin-top: 80px;
    display: flex;
  }

  .tarjetaProductoPanelProductos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1d;
    border-radius: 7px;
    padding: 20px;
    margin: 30px;
    width: 600px;
    font-family: "montserrat", sans-serif;
  }

  .tarjetaProductoPanel{
    background-color: #1d1d1d;
    border-radius: 7px;
    padding: 20px;
    margin: 30px;
    width: 600px;
    font-family: "montserrat", sans-serif;
  }

  .tarjetaProductoPanel h3{
    margin-top: 10px;
  }

  .tarjetaProductoPanelListado{
    background-color: #1d1d1d;
    border-radius: 7px;
    padding: 20px;
    margin: 30px;
    width: 600px;
    font-family: "montserrat", sans-serif;
  }

  .tarjetaProductoPanelListado p{
    margin-top: 5px;
  }

  #primeroListado{
    margin-top: 20px;
  }

  .contenedorCategoria{
    margin-top:20px;
  }

  .contenedorCategoria{
    background-color: #C75F00;
  }

  .contenedorCategoria p{
    font-family: "montserrat", sans-serif;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
    font-weight: 500;
    color: #121212;
  }

  .contenedorCategoria:hover{
    border-radius: 4px;
    cursor: pointer;
    background-color: #f9bf79;
  }

  .categoriaSeleccionada{
    background-color:  #f9bf79;
  }

  .contenedorServicios{
    max-height: 600px;
    margin-top: 60px;
  }

  .contenedorServicios h2{
    font-family: "montserrat", sans-serif;
    color: #C75F00;
    font-size: 32px;
    text-align: center;
  }

  .celularImagen{
    padding: 0px;
    width: 600px;
    height: 700px;
  }

  .posicionServicios{
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .cajaServicios {
    flex: 0 0 calc(33.333% - 13.333px);
    max-width: calc(33.333% - 13.333px);
  }
}

@media (max-width: 900px) {
  .cajaServicios {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

