.tituloPaginasPanel{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #f9bf79;
  }

.contenedorPagina button{
    border: 0px;
    padding: 3px;
    font-family: "montserrat", sans-serif;
    border-radius: 4px;
    margin-right: 10px;
  }

  .botonCrearModal{
    height: 32px;
    margin-left: 50px;
    cursor: pointer;
    background-color: #d9d9d9;
    color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    width: 120px;
  }

  .buscadorPanel{
    border-radius: 10px;
    width: 90%;
    padding: 15px;
    margin-top: 40px;
    margin-left: 50px;
  }

  .posicionSeccionProductos{
    display: flex;
  }
  
  .posicionSeccionProductos .contenedorCategorias{
    margin-top: 50px;
  }

  
  .contenedorCategorias{
    background-color: #121212;
    border-radius: 4px;
    height: 300px;
    margin-right: 60px;
  }
  
  .contenedorCategorias button{
    display: block;
    font-family: "montserrat", sans-serif;
    margin-top: 10px;
    margin: 40px;
    border: 3px solid transparent;
    background-color: #121212;
    cursor: pointer;
  }

  .contenedorCategorias {
    background-color: #121212;
    border-radius: 4px;
    margin-top: 50px; 
    margin-left: 40px;
    height: 100%;
  }
  
  .contenedorCategorias a{
    cursor: pointer;
    color: white;
  }

  .contenedorCategoria{
    margin-top:20px;
  }
  
  .contenedorCategoria{
    background-color: #C75F00;
  }

  .contenedorCategoria p{
    font-family: "montserrat", sans-serif;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
    font-weight: 500;
    color: #121212;
  }
  
  .contenedorCategoria:hover{
    border-radius: 4px;
    cursor: pointer;
    background-color: #f9bf79;
  }
  
  .categoriaSeleccionada{
    background-color:  #f9bf79;
  }

  .contenedorClientes {
    max-height: 600px; 
    overflow-y: auto; 
    margin-top: 60px;
  }

  .tarjetaProductoPanelInstalaciones {
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    border-radius: 7px;
    padding: 20px;
    margin: 30px;
    width: 600px;
    height: 200px;
    font-family: "montserrat", sans-serif;
    position: relative;
  }
  
  .tarjetaProductoPanelInstalaciones address {
    width: 250px;
  }

  
.tarjetaProductoPanelDispositivos .tarjetaContenido{
    width: 500px;
  }

  .tarjetaDireccion {
    margin-top: 12px;
    font-size: 18px;
  }

  .TipoInstalacion {
    position: absolute; 
    bottom: 0px; 
    left: 20px; 
    background-color: #C75F00;
    width: 200px; 
    border-radius: 4px;
    padding: 3px;
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 500;
  }

  .tarjetaBotones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  
  .botonesDispositivos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #botonAgregarDispositivo,
#botonVerDispositivos {
  width: 200px;
  padding: 9px;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 120px;
}

.botonesEdicionEliminacion {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
  }
  
  .botonesEdicionEliminacion .botonEditar{
    width: 40px;
    height: 40px;
  }
  
  .botonesEdicionEliminacion .botonEliminar{
    width: 40px;
    height: 40px;
  }
  
  .botonesEdicionEliminacion .botonImprimir{
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .botonesEdicionEliminacion{
    margin-left: 200px;
  }
  

  .textoBuscadorProductos{
    margin-left: 90px;
    margin-top: 30px;
  }

  .botonVolver{
    height: 32px;
    margin-left: 50px;
    cursor: pointer;
    background-color: #d9d9d9;
    color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    width: 200px;
  }
  
  .listaDispositivos{
    margin-left: 20px;
    max-height: 100vh; /* o el valor que prefieras */
    overflow-y: auto;
  }

  .loaderDispositivos{
    text-align: left;
    margin-top: 12px;
    margin-left: 32px;
  }

  .tarjetaProductoPanelDispositivos{
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    border-radius: 7px;
    padding: 20px;
    margin: 30px;
    width: 800px;
    font-family: "montserrat", sans-serif;
  }
  
  .tarjetaProductoPanelDispositivos p{
    text-align: left;
  }

  .tarjetaProductoPanelDispositivos .tarjetaContenido{
    width: 500px;
  }

  .tituloDispositivo{
    margin-top: 10px;
  }

  .ubicacionDispositivo{
    margin-top: 15px;
  }

  .categoriaDispositivo{
    display: flex;
    background-color: #121212;
    width: 120px;
    color:  white;
    border-radius: 4px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #botonImprimir{
    background-color: #121212;
  }

  .botonEditar{
    background-color: rgb(43, 43, 43);
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .botonEditar img{
    width: 30px;
    height: 30px;
    padding: 4px;
  }

  .botonEliminar{
    background-color: rgb(179, 19, 19);
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .botonEliminar img{
    width: 30px;
    height: 30px;
    padding: 4px;
  }

  .formularioPanel{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .formularioPanel button{
    cursor: pointer;
    width: 100px;
  }
  
  .formularioPanel textarea{
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
  }
  
  .formularioPanel label{
    margin-top: 15px;
  }

  .errorPanel{
    color: #e74c3c; 
    font-size: 0.9rem; 
    margin-bottom: 15px; 
    margin-top: 5px;
    padding-left: 4px; 
    font-weight: 500; 
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;   
  }

  .error {
    color: #e74c3c; 
    font-size: 0.9rem; 
    margin-bottom: 10px; 
    margin-top: 10px;
    padding-left: 4px; 
    font-weight: 500; 
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;   
  }

  .contenedorBotonesEditar{
    margin-top: 0px;
  }

  .contenedorBotonesEditar {
    margin-top: 3px;
  }
  
  .contenedorBotonesEditar button{
    cursor: pointer;
  }
  
  .contenedorBotonesEditar .botonCancelar{
    background-color: #2b2b2b;
    width: 100px;
    cursor: pointer;
  }
  
  .contenedorBotonesEditar .botonCancelarModal{
    background-color: #2b2b2b;
    width: 100px;
    cursor: pointer;
  }

  .botonGuardar{
    margin-right: 15px;
    cursor: pointer;
    color: #121212;
  }

  .Modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    height: 180px;
  }
  
.Modal p{
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}
  
  .Modal a{
    font-family: "montserrat", sans-serif;
    margin-left: 70px;
    margin-top:20px;
    text-decoration: underline;
  }
  
.Modal button{
    background-color: transparent;
    margin-top:20px;
    border: 0px
}
  
.Modal h2 {
    font-family: "montserrat", sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.Modal .modalContent{
    margin-top: 10px;
}

.Modal .modalContent img{
    margin-bottom: 20px;
}

.Modal .cerrarModalButton{
    cursor: pointer;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.tickModal{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.ModalPanelCrear {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 400px;
    height: 580px; 
    max-height: 90vh; 
    overflow: auto; 
  }
  
  .ModalPanelCrear h2{
    margin-top: 20px;
  }

  .ModalPanelCrear input{
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
  }

  .ModalPanelCrear button{
    background-color: #C75F00;
    border: 0px;
    padding: 8px;
    border-radius: 4px;
    width: 100px;
    margin-right: 15px;
  }

  #botonCancelar{
    background-color: #2b2b2b;
  }

  .ModalPanelCrear select{
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
  }

  .ModalPanelCrear textarea{
    margin-bottom: 0px;
  }

  .ModalPanelCrear #description{
    margin-bottom: 0px;
  }

  .ModalPanelCrear .botonCerrar{
    background-color: #2b2b2b;
  }

  .ModalPanelCrear .error{
    text-align: left;
  }


  .ModalPanelEditar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    height: 180px
  }
  
  .ModalPanelEditar .botonEliminarProducto{
    background-color: red;
    padding: 6px;
    border-radius: 4px;
    margin-right: 10px;
    font-family: "montserrat", sans-serif;
    border: 0px;
    cursor: pointer;
  }
  
  .ModalPanelEditar .botonCancelarModal{
    background-color: #2b2b2b;
    padding: 6px;
    border-radius: 4px;
    font-family: "montserrat",sans-serif;
    border: 0px;
    cursor: pointer;
  }

  .textoEliminarCliente{
    font-size: 18px;
    font-weight: lighter;
  }

  .Modal .botonEliminarProducto{
    background-color: red;
    padding: 6px;
    border-radius: 4px;
    margin-right: 10px;
    font-family: "montserrat", sans-serif;
    border: 0px;
    cursor: pointer;
    width: 100px;
  }
  
