.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-nav);
  position: relative;
}

.navLinks {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #121212;
  padding: 1rem;
}

.navLinks.open {
  display: flex;
}

.seccionesNav {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.3rem;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.3s ease;
}

.seccionesNav:hover,
.seccionesNav.active {
  border-bottom: 4px solid #C75F00;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger span {
  width: 2rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.sesion,
.carrito {
  width: 30px;
}

.sesion {
  margin-left: auto;
  margin-right: 10px;
}

.carrito {
  margin-right: 10px;
  margin-left: 5px;
}

.cerrarSesion {
  margin-right: 10px;
  margin-left: 15px;
}

.logoutIcon {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 25px;
}

.carrito {
  width: 30px;
  height: 30px;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.navIcons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.hiddenMobileTablet {
  display: none;
}

/* MOBILE AND SMALL TABLETS */
@media (max-width: 1099px) {
  .nav {
    flex-wrap: wrap;
  }

  .navLinks {
    width: 100%;
    order: 3;
  }

  .navLinks.open {
    display: flex;
    flex-direction: column;
  }

  .seccionesNav {
    margin: 0.5rem 0;
  }

  .navIcons {
    order: 2;
  }

  .hamburger {
    display: flex; 
  }

  .cerrarSesion {
    margin-left: 15px;
  }
}

/* LARGE TABLETS AND DESKTOPS */
@media (min-width: 1100px) {
  .nav {
    padding-left: 28px;
  }

  .logoutIcon {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 0px;
  }

  .hamburger {
    display: none;
  }

  .navLinks {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .seccionesNav {
    margin: 0 0.5rem;
  }

  .sesion {
    margin-right: 23px;
  }

  .carrito {
    margin-right: 40px;
  }

  .cerrarSesion {
    margin-right: 20px;
    margin-left: 0; 
  }

  .hiddenMobileTablet {
    display: block;
  }
}

.Modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  height: 180px;
}

.Modal p {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}

.Modal a {
  font-family: "montserrat", sans-serif;
  margin-left: 70px;
  margin-top: 20px;
  text-decoration: underline;
}

.Modal button {
  background-color: transparent;
  margin-top: 20px;
  border: 0px;
}

.Modal h2 {
  font-family: "montserrat", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal .modalContent {
  margin-top: 10px;
}

.Modal .modalContent img {
  margin-bottom: 20px;
}

.Modal .cerrarModalButton {
  cursor: pointer;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.tickModal {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.themeToggle {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  margin-right: 30px;
  border: 1px solid #f9f9f9;
  border-radius: 30px;
  width: 30px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.themeToggle {
  position: relative;
  width: 40px;
  height: 50px;
  overflow: hidden;
}

.themeToggle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
}

.themeToggle svg:first-child {
  transform: translate(-50%, -50%) rotate(0deg);
}

.themeToggle svg:last-child {
  transform: translate(-50%, -50%) rotate(-90deg);
}

:global([data-theme="dark"]) .themeToggle svg:first-child {
  transform: translate(-50%, -50%) rotate(90deg);
}

:global([data-theme="dark"]) .themeToggle svg:last-child {
  transform: translate(-50%, -50%) rotate(0deg);
}

.pageTransition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.elementTransition {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

