.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 28px;
    background-color: #121212;
  }
  
  .seccionesNav {
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.3rem;
    border-bottom: 4px solid transparent;
  }
  
  .seccionesNav:hover {
    border-bottom: 4px solid #C75F00;
  }
  
  .sesion,
  .carrito {
    width: 40px;
    height: 40px;
  }
  
  #sesion {
    margin-left: auto;
    margin-right: 23px;
  }
  
  .carrito {
    margin-right: 40px; 
    margin-left: 5px;
  }
  
  #cerrarSesion{
    margin-right: 20px;
  }

  .logoutIcon {
    display: block;
  }

  .logoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }
  
  .logoutIcon {
    display: block;
  }
  
