/* MOBILE */
.solapaActiva,
.seccionesNavPanel {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  color: #121212;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  border: 0;
  font-weight: 600;
}

.solapaActiva {
  background-color: #f9bf79;
}

.seccionesNavPanel {
  background-color: #C75F00;
}

.navPanel {
  margin: 10px;
}

.navPanel button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.navPanel button:hover {
  background-color: #f9bf79;
}

/* TABLETS */
@media (min-width: 768px) {
  .solapaActiva,
  .seccionesNavPanel {
    font-size: 17px;
    margin: 0.5rem;
    font-weight: 600;
  }

  .navPanel {
    margin-left: 00px;
    flex-wrap: wrap;
    width: 1460px;
    justify-content: center;
  }

  .navPanel button {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

/* PC */
@media (min-width: 1024px) {
  .solapaActiva{
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.3rem;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    background-color: #f9bf79;
  }

  .navPanel {
    margin-left: 00px;
    flex-wrap: wrap;
    width: 320px;
    justify-content: center;
  }

  .seccionesNavPanel{
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.3rem;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    background-color: #C75F00;
    font-weight: 600;
  }

  .navPanel{
    margin-left: 10px;
  }
  
  .navPanel button{
    display: block;
    margin: 20px;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    text-align: center;
    border: 0px;
    color: #121212;
    font-weight: 600;
  }
  
  .navPanel button:hover{
    background-color: #f9bf79;
  }
}