.tituloPaginas {
  font-family: "montserrat", sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  color: var(--title-color);
}

.contenedorSecciones {
  padding: 0 20px;
}

.contenedorPortada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.fotoQuienesSomos {
  border-radius: 4px;
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-bottom: 20px;
}

#contenedoresQuienesSomos,
.contenedoresQuienesSomos {
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #121212;
}

#contenedoresQuienesSomos h2,
.contenedoresQuienesSomos h2 {
  border-bottom: var(--border-color) 6px solid;
  margin-bottom: 15px;
  padding-bottom: 10px;
  color: white
}

#contenedoresQuienesSomos p,
.contenedoresQuienesSomos p {
  margin-top: 10px;
  text-align: left;
  font-weight: 100;
  color: white
}

#contenedoresQuienesSomos span,
.contenedoresQuienesSomos span {
  font-weight: bold;
  color: var(--highlight-color);
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .tituloPaginas {
    font-size: 32px;
  }

  .contenedorPortada {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .fotoQuienesSomos {
    margin-right: 20px;
    margin-bottom: 0;
  }

  #contenedoresQuienesSomos {
    width: 50%;
  }

  .contenedorGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .contenedoresQuienesSomos {
    margin-bottom: 0;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .tituloPaginas {
    font-size: 36px;
  }

  .contenedoresQuienesSomos {
    margin-left: -20px;
  }

  .contenedorSecciones {
    padding: 0 80px;
  }

  .contenedorPortada {
    flex-direction: row;
    align-items: flex-start;
    margin-left: 0;
    margin-top: 100px;
  }

  #fotoQuienesSomos {
    width: 400px;
    border-radius: 4px;
    margin-right: 40px;
  }

  .fotoQuienesSomos {
    width: 400px;
    height: 400px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  #contenedoresQuienesSomos {
    width: 70%;
  }

  .contenedorGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .contenedoresQuienesSomos {
    margin-bottom: 0;
  }
}